{% extends 'matches/matchbase.html' %}

{% block body_block %}
	<br/>
	<div class="row h-align-center">
		<a href="create" class="btn blue darken-1 waves-effect">Create New Match</a>
	</div>
	<table class="">
		<thead>
			<tr>
				<th data-field="name">Regex</th>
				<th data-field="name">Type</th>
				<th data-field="name">Path</th>
				<th data-field="name">Update</th>
				<th data-field="name">Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for m in all_matches %}
					<tr>
						<td data-field="name">{{m.regex}}</td>
						<td data-field="name">{{m.type}}</td>
						<td data-field="name">{{m.path}}</td>
						<td><a href="{{m.matchid}}/update" class="btn waves-effect teal">Update</a></td>
						<td><a href="{{m.matchid}}/delete" class="btn waves-effect red darken-2">Delete</a></td>
					</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
