{% extends 'matches/matchbase.html' %}

{% block body_block %}
	<h5>Delete {{object}}?</h5>
	<form action="" method="post">
		{% csrf_token %}
		<input class="btn grey waves-effect" value="Cancel" onclick="window.history.go(-1);"/>
		<input class="btn red darken-2 waves-effect" type="submit" value="Delete"/>
	</form>
{% endblock %}
