<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
        <link type="text/css" rel="stylesheet" href="{% static 'polls/css/materialize.css' %}" media="screen,projection" />
        <link type="text/css" rel="stylesheet" href="{% static 'pimote/pimote.css' %}" media="screen,projection" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'pimote/piicon.png' %}"/>
	<title>{% block page_title_block %}Philosophical Polls{% endblock %}</title>
	<nav class="green darken-2">
		<div class="top-nav">
			<div class="container">
				<div class="nav-wrapper">
					<img class="circle" src="{% static 'pimote/piicon.png' %}" style="height: 5%; width: 5%;" />
					<a href="#" class="brand-logo">{% block title_block %}Philosophical Polls{% endblock %}</a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="/pimote/" class="green darken-1">Pimote</a></li>
						<li><a href="/polls/allresults/">All Results</a></li>
						<li><a href="/polls/">Index</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</head>
<body class="">
	<div class="container">
	{% block body_block %}{% endblock %}
	</div>
        {% block footer %}
                <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
                <script type="text/javascript" src="{% static 'polls/js/materialize.js' %}"></script>
		<footer class="page-footer green darken-3 z-depth-1">
			<div class="container">
				<div class="row">
					<div class="col s6">
						<h5 class="white-text">Pimote</h5>
					</div>
					<div class="col s6">
						<h5 class="white-text">My Other Projects</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" href="https://github.com/PoisonRain">My Github</a>
							<li><a class="grey-text text-lighten-3" href="https://play.google.com/store/apps/dev?id=6593726962513044888">Google Play Developer Page</a>
						</ul>
					</div>
				</div>
			</div>
		</footer>
        {% endblock %}
</body>
</html>

