{% extends 'thermaldashboard/base.html' %}

{% load staticfiles %}

{% block page_title_block %}Pimote{% endblock %}
{% block title_block %}Pimote{% endblock %}
{% block nav_color_block %}green darken-2{% endblock %}
{% block footer_color_block %}green darken-2{% endblock %}

{% block body_block %}
<form id="detailform" action="">
	<div class="row">
		<div class="col s12 m12 l12" >
			<input id="detailText" style="padding-top: 50px; font-size: 3rem; text-align: center;" type="text" name="details"/>
		</div>
	</div>
	<div class="row">
		<div class="col s3 m3 l3 pdiv">
			<a id="playVideoSubmit" class="green btn darken-2 waves-light waves-effect pbtn z-depth-3"><i class="material-icons picon">movie</i></a>
		</div>
		<div class="col s3 m3 l3 pdiv">
						<a id="playMusicSubmit" class="green btn darken-2 waves-light waves-effect pbtn z-depth-3"><i class="material-icons picon">music_note</i></a>
		</div>
		<div class="col s3 m3 l3 pdiv">
						<a id="playTwitchSubmit" class="green btn darken-2 waves-light waves-effect pbtn z-depth-3"><img class="material-icons picon" src="{% static 'pimote/Twitch-100.png' %}"/></a>
		</div>
		<div class="col s3 m3 l3 pdiv">
						<a id="setIpSubmit" class="green btn darken-2 waves-light waves-effect pbtn z-depth-3"><i class="material-icons picon">network_check</i></a>
		</div>
	</div>
</form>
<div class="row" style="">
	<div class="col s4 m4 l4  offset-l4 offset-m4 pdiv">
		<a href='/pimote/quit' class="pink darken-2 btn waves-light waves-effect pbtn z-depth-3"><i class="material-icons picon">close</i></a>
	</div>
</div>
<div class="row">
	<div class="col s4 m4 l4 pdiv">
		<a href='/pimote/rw' class="pink darken-2 btn waves-light waves-effect pbtn z-depth-3"><i class="material-icons picon">fast_rewind</i></a>
	</div>
	<div class="col s4 m4 l4 pdiv">
		<a href='/pimote/pause' class="pink darken-2 btn waves-light waves-effect pbtn z-depth-3"><i class="material-icons picon">pause</i></a>
	</div>
	<div class="col s4 m4 l4 pdiv">
		<a href='/pimote/ff' class="pink darken-2 btn waves-light waves-effect pbtn z-depth-3"><i class="material-icons picon">fast_forward</i></a>
	</div>
</div>
<div class="row">
	<div class="col s4 m4 l4 pdiv">
		<a href='/pimote/volumedown' class="pink darken-2 btn waves-light waves-effect pbtn z-depth-3"><i class="material-icons picon">volume_down</i></a>
	</div>
	<div class="col s4 m4 l4 pdiv">
		<a href='/pimote/togglesubtitles' class="pink darken-2 btn waves-light waves-effect pbtn z-depth-3"><i class="material-icons picon">subtitles</i></a>
	</div>
	<div class="col s4 m4 l4 pdiv">
		<a href='/pimote/volumeup' class="pink darken-2 btn waves-light waves-effect pbtn z-depth-3"><i class="material-icons picon">volume_up</i></a>
	</div>
</div>
<div class="row"style="margin-bottom: 50px !important;">
	<div class="col s4 m4 l4 pdiv offset-l2 offset-m2">
		<a href='/pimote/playPrev' class="pink darken-2 btn waves-light waves-effect pbtn z-depth-3"><i class="material-icons picon">skip_previous</i></a>
	</div>
	<div class="col s4 m4 l4 pdiv">
		<a href='/pimote/playNext' class="pink darken-2 btn waves-light waves-effect pbtn z-depth-3"><i class="material-icons picon">skip_next</i></a>
	</div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script> 
<script type="text/javascript">
	$('#playVideoSubmit').click(function() {
		var details = $('#detailText').val();
		window.location.href = '/pimote/'+details+'/playOMX';
	});
	$('#playMusicSubmit').click(function() {
		var details = $('#detailText').val();
		window.location.href = '/pimote/'+details+'/playMusic';
	});
	$('#playTwitchSubmit').click(function() {
		var details = $('#detailText').val();
		window.location.href = '/pimote/'+details+'/playTwitch';
	});
	$('#setIpSubmit').click(function() {
		var details = $('#detailText').val();
		window.location.href = '/pimote/'+details+'/setIpAddress';
	});
</script> 
{% endblock %}
