.pbtn {
	vertical-align: middle !important;
	width: 100% !important;
	height: 100% !important;
	font-size: 15px !important;
	padding: 78px !important;
	margin: 5px;
}

.picon {
	font-size: 6em !important;
	height: 100% !important;	
}

.pdiv {
	font-size: 3em !important;
	height: 200px !important;
	vertical-align: middle !important;
}

.pupperbutton {
	vertical-align: middle !important;
	width: 100% !important;
	height: 100% !important;
	font-size: 15px !important;
	padding: 78px !important;
	margin: 5px;
}

.plowerbtn {
	position: relative !important;
	width: 100%;
	height: 75%;
	vertical-align: middle !important;
	text-align: center !important;
}
