<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
        <link type="text/css" rel="stylesheet" href="{% static 'polls/css/materialize.css' %}" media="screen,projection" />
        <link type="text/css" rel="stylesheet" href="{% static 'pimote/pimote.css' %}" media="screen,projection" />
				<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'pimote/piicon.png' %}"/>
	<title>{% block page_title_block %}Sensor Dashboard{% endblock %}</title>
	<nav class="{% block nav_color_block %}deep-orange{% endblock %}">
		<div class="top-nav">
			<div class="container">
				<div class="nav-wrapper">
					<img class="responsive-img circle z-depth-1" src="{% static 'pimote/piicon.png' %}" style="height: 8%; width: 8%;">
					<a href="#" class="brand-logo">{% block title_block %}Sensor Dashboard{% endblock %}</a>
					<ul id="nav-mobile" class="right">
						<li><a class="red	darken-2" href="/dash/">Dashboard</a></li>
						<li><a class="blue darken-2" href="/matches/">Matches</a></li>
						<li><a class="green" href="/pimote/">Pimote</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</head>
<body>
	<div class="container">
	{% block body_block %}{% endblock %}
	</div>
        {% block footer %}
                <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
                <script type="text/javascript" src="{% static 'polls/js/materialize.js' %}"></script>
		<footer class="page-footer {% block footer_color_block %}deep-orange{%endblock%}">
			<div class="container">
				<div class="row">
					<div class="col s6">
						<h5 class="white-text">Thermal Dashboard</h5>
					</div>
					<div class="col s6">
						<h5 class="white-text">My Other Projects</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" href="https://github.com/PoisonRain">My Github</a>
							<li><a class="grey-text text-lighten-3" href="https://play.google.com/store/apps/dev?id=6593726962513044888">Google Play Developer Page</a>
						</ul>
					</div>
				</div>
			</div>
		</footer>
        {% endblock %}
</body>
</html>

