{% extends 'thermaldashboard/base.html' %}

{% block body_block %}

{% load staticfiles %}
<meta http-equiv="refresh" content="10" >

<div class="row">
{% for sensor in all_sensors %}
	<div class="col s12 m12 l6">
		<div class="card hoverable">
			<div class="card-content">
				<img class="responsive-img circle z-depth-1" src="{% static sensor.getImage %}" >
				<span class="card-title">{{ sensor.name }}</span>
				<span class="{{sensor.color}} bold center-align lighten-1 white-text z-depth-1 right">{{ sensor.current }}</span>
				<div class="{{sensor.color}} accent-1 card hide-on-small-only">
				{% for sd in sensor.topThree %}
					<p class="collection-item hoverable">{{ sd.displaydata }}<span class="badge">{{ sd.getDate }}</span></p>
				{% endfor %}
				</div>
				<div class="card-action">
					<a class="waves-effect waves-light {{sensor.color}} darken-1 btn" href="{% url 'history' sensor.sensorid %}">History</a>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
</div>

{% endblock %}
