{% extends 'thermaldashboard/base.html' %}

{% block title_block %}
{{sensor.name}}
{% endblock %}
{% block page_title_block %}
{{sensor.name}}
{% endblock %}

{% block body_block %}

<div class="row">
	<table class="responsive-table">
		<thead>
			<tr>
				<th data-field="id">Message Id</th>
				<th data-field="id">Sensor Id</th>
				<th data-field="date">Date</th>
				<th data-field="percentage">Battery</th>
				<th data-field="name">Plot Value</th>
				<th data-field="id">Gateway Id</th>
				<th data-field="name">Display Data</th>
			</tr>
		</thead>
	{% for sd in sensor.allData %}
		<tbody>
			<tr>
				<td data-field="id">{{sd.messageid}}</td>
				<td data-field="id">{{sd.sensorid}}</td>
				<td data-field="date">{{sd.getDate}}</td>
				<td data-field="percentage">{{sd.battery}}</td>
				<td data-field="name">{{sd.plotvalue}}</td>
				<td data-field="id">{{sd.gatewayid}}</td>
				<td data-field="name">{{sd.displaydata}}</td>
			</tr>
		</tbody>
	{% endfor %}
	</table>
</div>

{% endblock %}
